doctype html
html(lang='en')
    head

    body
        h2#title TM 4.0 Graph DB

        div available resources
            ul
                li
                    a#link_Data(href='/data') data
                
