extends _layouts/html_header.jade
block content
    h2#title Graph View (with Ajax load)
    a(href='/data') links to all data

    #graph

    a#dataUrl(href=dataUrl style='display:none') dataUrl
    script.
        var options = {

                        smoothCurves: false,
                        //dataManipulation: true,
                        //keyboard: true,
                        //navigation: true,
                        //configurePhysics:true,
                        stabilize: true,
                        stabilizationIterations: 2000,
                        nodes: {
                                    color: {
                                                background: 'white',
                                                border: 'blue',
                                                highlight: {
                                                background: 'pink',
                                                border: 'red'}
                                            },
                                    shape: 'box',
                                    fontSize: 20
                                },
                        physics: {
                                    barnesHut: {
                                                 enabled: true,
                                                 gravitationalConstant: -6000,
                                                 centralGravity: 0.15,
                                                 springLength: 300,
                                                 springConstant: 0.04,
                                                 damping: 0.09
                                 }}
                      }
    script(type='text/javascript')
        include ajaxLoad.js

