extends _layouts/html_header.jade
block content
    h2#title Tree View - mapped by Hubsize (with Ajax load)
    a(href='/data') links to all data

    #graph

    a#dataUrl(href=dataUrl style='display:none') dataUrl
    script.
        options = {
                        stabilize: false,
                        smoothCurves: false,
                        hierarchicalLayout: {
                                                //direction: 'Up-Down',//'Right-Left', //
                                                layout: 'hubsize'
                                            }
                  }
    script(type='text/javascript')
        include ajaxLoad.js